.abs-container {
    z-index: 7;
    position: absolute;
    top: 5vh;
    left: 2.5vw;
}

.abs-container-bottom {
    z-index: 7;
    position: absolute;
    bottom: 5vh;
    right: 2.5vw;
}

.main-container-bottom {
    background: white;
    border: none;
    padding: 1.5rem;
    width: 50rem;
    border-radius: 0.2rem;
    outline: transparent;
    color: #ffffff;
}

.main-container {
    background: black;
    border: none;
    padding: 1.5rem;
    width: 25rem;
    border-radius: 0.2rem;
    outline: transparent;
    color: #ffffff;
}

.address-input-box::placeholder {
    color: #ffffff;
    font-size: 1rem;
    font-weight: 500;
  }

  .address-input-box:-internal-autofill-selected {
      background: black !important;
  }

.cartographer-profile-pic {
    height: 8rem;
    border-radius: 4rem;
}

.profile-panel {
    text-align: center;
}

.big-int {
    font-weight: 500;
    font-size: 3rem;
}

.cartographer-analytics {
    line-height: 15px;
}

.date-row {
    margin-top: 0px;
    margin-bottom: 10px;
	display: flex;
	justify-content: space-between;
	color: #7D7D7D;
	font-size: 14px;
}

.play-pause-btn {
    height: 2rem;
}

.button-img-container {
    background: transparent;
    border: none;
    margin: 10px;
    outline: none;
}

.cartographerJourneyTooltipStyle {
    position: absolute;
    padding: 14px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    max-width: 300px;
    font-size: 12px;
    z-index: 7;
    pointer-events: none;
  }

.error-modal {
    z-index: 10;
    background-color: rgba(255,255,255,1);
    padding: 1rem;
    border-radius: 1rem;
    width: 25rem;
    height: 10rem;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.error-background {
    background-color: rgba(0,0,0,0.75);
    position: absolute;
    width: 100vw;
    z-index: 9;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}