.abs-container {
    z-index: 7;
    position: absolute;
    top: 5vh;
    left: 2.5vw;
}

.abs-container-bottom {
    z-index: 7;
    position: absolute;
    top: calc(5vh + 100vh - 9rem - 2.8rem);
    right: 2vw;
}

.main-container-bottom {
    background: black;
    border: none;
    padding: 1.5rem;
    width: calc(100vw - 32rem);
    border-radius: 0.2rem;
    outline: transparent;
    color: #ffffff;
}

.main-container {
    background: black;
    border: none;
    padding: 1.5rem;
    width: 16rem;
    border-radius: 0.2rem;
    outline: transparent;
    color: #ffffff;
}

.profile-container {
    height: calc(100vh - 9rem);
}

.divider {
    position: absolute;
    width: 100%;
    left: 0;
}

.mapview-title {
    margin-top: 4rem;
}

.analytic-title {
    margin-bottom: 2rem;
}

  .analytic-value-title {
    font-size: 0.7rem;
  }

.address-input-box::placeholder {
    color: #ffffff;
    font-size: 1rem;
    font-weight: 500;
  }

  .address-input-box:-internal-autofill-selected {
      background: black !important;
  }

.cartographer-profile-pic {
    height: 8rem;
    border-radius: 4rem;
}

.profile-panel {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.big-int {
    font-weight: 500;
    font-size: 3rem;
}

.cartographer-analytics {
    line-height: 15px;
    margin-top: 3rem;
}

.date-row {
    margin-top: 0px;
    margin-bottom: 10px;
	display: flex;
	justify-content: space-between;
	color: #7D7D7D;
	font-size: 14px;
}

.play {
    display: flex;
  }

.play-pause-btn {
    height: 1rem;
    margin-left: -10px;
    color: white;
    margin-right: 0.5rem;
    cursor: pointer;
}

.button-img-container {
    background: transparent;
    border: none;
    outline: none;
}

.rc-slider-rail {
    background-color: grey !important;
  }

.cartographerJourneyTooltipStyle {
    position: absolute;
    padding: 14px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    max-width: 300px;
    font-size: 12px;
    z-index: 7;
    pointer-events: none;
  }

.error-modal {
    z-index: 10;
    background-color: rgba(255,255,255,1);
    padding: 1rem;
    border-radius: 1rem;
    width: 25rem;
    height: 10rem;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.text-white {
    color: #fff;
}

.error-background {
    background-color: rgba(0,0,0,0.75);
    position: absolute;
    width: 100vw;
    z-index: 9;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rc-slider-handle {
    background-color: white !important;
}

.rc-slider-track {
    background: rgba(101, 105, 237, 250) !important;
}

.toggleButton {
    display: flex;
    justify-content: center;
}

.view-btn {
    width: 50%;
    padding: 0.75rem;
    background: transparent;
    color: white;
    font-size: 0.8rem;
    border: 0.6px solid #2e2d2c;
    outline: none;
    cursor: pointer;
}

.lds-ripple {
    display: inline-block;
    position: absolute;
    top: 20vh;
    left: 50vw;
    width: 20vw;
    height: 80px;
    z-index: 9;
  }
  .lds-ripple div {
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
  }
  
  .loader-text {
      margin-top: 100px;
      position: relative; 
      left: -30%;
  }

  .placeholder-img {
      height: 8rem;
      border-radius: 4rem;
  }

  .close-button {
      cursor: pointer;
  }