/* home-page */
.home-page {
  overflow: hidden;
}
.head-container {
  width: 100vw;
  /* height: 100vh;
  background-size: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("../assets/imgs/background.png"); */
}

.body-container {
  width: 100vw;
  /* height: 170vh; */
}

.bg-one {
  background: #0B022F !important;
}

.bg-two {
  background: #0D101E !important;
}

.bg-three {
  background: #00000D !important;
}

.hide-hover {
  position: absolute;
}

.hide-hover:hover {
  opacity: 0;
}

.main-title-container {
  position: absolute;
  width: 444px;
  height: 209px;
  left: 40%;
  top: 142px;
  mix-blend-mode: hard-light;
}

.above-main-title {
  position: absolute;
  left: 0%;
  right: 46.12%;
  top: 0%;
  bottom: 72.41%;
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  line-height: 56px;
  color: #FFFFFF;
}

.main-title {
  position: absolute;
  left: 0%;
  right: 4.26%;
  top: 21.67%;
  bottom: 37.93%;
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: 500;
  font-size: 72px;
  line-height: 84px;
  color: #fff;
}

.below-main-title {
  position: absolute;
  left: 11.78%;
  right: 0%;
  top: 58.13%;
  bottom: 0%;
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  line-height: 56px;
  color: #FFFFFF;
}

.mb-7 {
  margin-bottom: -7px;
}

/* card styles */
.viz-container {
  margin: 20px;
}

.card-container {
  /* display: flex;
  justify-content: space-evenly; */
}

.card-body {
  /* margin-top: 40rem; */
  border-radius: 5px;
  /* background: #ffffff; */
  transition: .3s all;
  height: 30vh;
  /* width: 50vw; */
  cursor: pointer;
}

.card-body:hover {
  /* transform: translateY(-50px); */
  transform: scale(1.05);
}

.card-img-container {
  margin-bottom: 1rem;
  padding: 1px;
}

.card-img {
  width: 700px;
  /* height: 100%; */
  box-shadow: 0 10px 30px 0 rgba(0,0,0,0.15);
  border-radius: 4px;
  max-height: 80vh;
}

.card-inner-body {
  padding: 0.25rem;
}

.card-title {
  font-size: 1.35rem;
  font-weight: 600;
  line-height: 21px;
  padding: 1rem;
  color: black;
}

.card-desc {
  font-size: 16px;
  font-weight: 700;
  color: gray;
  padding: 0 1rem;
  line-height: 20px;
}

.card-link {
  text-decoration: none;
}

.move-up {
  margin-top: -20rem !important;
}

@media only screen and (max-width: 900px) {
  .main-title-container {
    position: absolute;
    width: 180px;
    height: 159px;
    left: 37%;
    top: 6.5%;
    mix-blend-mode: hard-light;
  }
  
  .above-main-title {
    position: absolute;
    left: 0%;
    right: 46.12%;
    top: 0%;
    bottom: 22.41%;
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 60px;
    color: #FFFFFF;
  }
  
  .main-title {
    position: absolute;
    left: 0%;
    right: 4.26%;
    top: 11.67%;
    bottom: 37.93%;
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 84px;
    color: #fff;
  }
  
  .below-main-title {
    position: absolute;
    left: 11.78%;
    right: 0%;
    top: 41.13%;
    bottom: 0%;
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 56px;
    color: #FFFFFF;
  }
}

.hero-body {
  padding: 1.5rem !important;
}

@media only screen and (max-width: 700px){
  .card-img {
    width: 700px;
    /* height: 28rem; */
    /* max-width: 35rem !important; */
    box-shadow: 0 10px 30px 0 rgba(0,0,0,0.15);
    border-radius: 4px;
  }
  .main-title-container {
    position: absolute;
    width: 180px;
    height: 159px;
    left: 30%;
    top: 2.5%;
    mix-blend-mode: hard-light;
  }
  
  .above-main-title {
    position: absolute;
    left: 0%;
    right: 46.12%;
    top: 0%;
    bottom: 22.41%;
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 63px;
    color: #FFFFFF;
  }
  
  .main-title {
    position: absolute;
    left: 0%;
    right: 4.26%;
    top: 11.67%;
    bottom: 37.93%;
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 84px;
    color: #fff;
  }
  
  .below-main-title {
    position: absolute;
    left: 11.78%;
    right: 0%;
    top: 42.13%;
    bottom: 0%;
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 56px;
    color: #FFFFFF;
  }

  .subinfo {
    width: 80vw;
  }
}
