/* home-page */

.home-page {}

.head-container {
  width: 100vw;
  min-height: 100vh;
}

.body-container {
  width: 100vw;
}

.home-arrow {
  width: 2rem;
  transition: all 0.5s ease;
}

.viz-title {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.125;
}

.make-it-center {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.translateY {
  transform: translateY(10px);
}

.bg-one {
  background: #0B022F !important;
}

.bg-two {
  background: #0D101E !important;
}

.bg-three {
  background: #00000D !important;
}

.main-title-container {
  position: absolute;
  width: 22rem;
  left: calc(50% - 11rem);
  top: 10%;
  text-align: center;
}

.mb-7 {
  margin-bottom: -7px;
}

/* card styles */

.viz-container {
  margin: 20px;
}

.card-container {
  /* display: flex;
  justify-content: space-evenly; */
}

.card-body {
  /* margin-top: 40rem; */
  border-radius: 5px;
  /* background: #ffffff; */
  transition: .3s all;
  height: 30vh;
  /* width: 50vw; */
  cursor: pointer;
  text-align: center;
}

.card-img-container {
  margin-bottom: 1rem;
  padding: 1px;
}

.video-container {
  position: absolute;
  right: 5%;
  z-index: 5;
}

/* .card-img {
  width: 600px;
  transition: all 0.3s;
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.15);
  border-radius: 4px;
} */

.card-inner-body {
  padding: 0.25rem;
}

.card-title {
  font-size: 1.35rem;
  font-weight: 600;
  line-height: 21px;
  padding: 1rem;
  color: black;
}

.card-desc {
  font-size: 16px;
  font-weight: 700;
  color: gray;
  padding: 0 1rem;
  line-height: 20px;
}

.move-up {
  margin-top: -20rem !important;
}

@media only screen and (max-width: 1000px) {
  .head-container {
    width: 100vw;
    min-height: 0;
  }
  .main-title-container {
    position: absolute;
    width: 16rem;
    left: calc(50% - 8rem);
    top: 8%;
    text-align: center;
  }
  .make-it-center {
    width: 100%;
  }
  .move-up {
    margin-top: 0 !important;
    padding-bottom: 8rem;
  }
  .viz-title {
    font-size: 1.5rem;
  }
  .subinfo {
    font-size: 1rem !important;
  }
}

.hero-body {
  padding: 1.5rem !important;
}

@media only screen and (max-width: 700px) {
  .head-container {
    width: 100vw;
    min-height: 0;
  }
  .make-it-center {
    width: 100%;
  }
  .move-up {
    margin-top: 0 !important;
    padding-bottom: 8rem;
  }
  .main-title-container {
    position: absolute;
    width: 10rem;
    left: calc(50% - 5rem);
    top: 2.5%;
    text-align: center;
  }
  .subinfo {
    width: 80vw;
    font-size: 1rem !important;
  }
  .video-container {
    position: absolute;
    right: 0;
    z-index: 5;
  }
  .viz-title {
    font-size: 1.5rem;
  }
}