/* home-page */

.head-container {
  width: 100vw;
}

.buidl-labs-signature {
  color: white;
  text-align: center;
  padding: 1.5rem 0;
}

.parent-title {
  position: absolute;
  z-index: 3;
  top: 40%;
  left: 50%;
  width: 300px;
  height: 200px;
  transform: translateX(-150px);
  color: white;
  mix-blend-mode: hard-light;
}

.child-the {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 300;
  font-size: 40px;
  line-height: 56px;
}

.child-foamviz {
  position: absolute;
  top: 40px;
  left: 0;
  font-weight: 900;
  font-size: 72px;
  line-height: 84px;
}

.child-project {
  position: absolute;
  left: 50%;
  transform: translateX(-100px);
  top: calc(72px + 40px);
  font-weight: 300;
  font-size: 48px;
  line-height: 56px;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

ul>li {
  margin-left: 20px;
  list-style-type: disc;
}

.full-height {
  height: 100vh;
}

.transition {
  /* transition: all 1s; */
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.body-container {
  width: 100vw;
}

.home-arrow {
  width: 2rem;
  animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  -moz-animation: bounce 2s infinite;
  -o-animation: bounce 2s infinite;
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
  }
}

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
  }
}

@-o-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -o-transform: translateY(0);
  }
  40% {
    -o-transform: translateY(-30px);
  }
  60% {
    -o-transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.the-foamviz-project {
  font-size: 3rem !important;
}

.viz-title {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.125;
  color: #ffffff;
}

.underline-link {
  color: white !important;
  text-decoration: underline;
}

.viz-move {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.125;
  color: #ffffff;
}

.make-it-center {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.centralised {
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  color: white;
  padding: 6rem 1.5rem !important;
}

.bg-about {
  background: #0C0F1C !important;
}

.bg-one {
  background: #0B022F !important;
}

.bg-two {
  background: #0D101E !important;
}

.bg-three {
  background: #00000D !important;
}

.main-title-container {
  position: absolute;
  width: 32rem;
  left: calc(50% - 16rem);
  top: 10%;
  text-align: center;
  z-index: 1;
}

.mb-7 {
  margin-bottom: -7px;
}

/* card styles */

.viz-container {
  margin: 20px;
}

.card-body {
  /* margin-top: 40rem; */
  border-radius: 5px;
  /* background: #ffffff; */
  transition: .3s all;
  height: 30vh;
  /* width: 50vw; */
  cursor: pointer;
  text-align: center;
}

.card-img-container {
  margin-bottom: 1rem;
  padding: 1px;
}

.video-container {
  position: absolute;
  right: 5%;
  z-index: 5;
}

/* .card-img {
  width: 600px;
  transition: all 0.3s;
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.15);
  border-radius: 4px;
} */

.card-inner-body {
  padding: 0.25rem;
}

.card-title {
  font-size: 1.35rem;
  font-weight: 600;
  line-height: 21px;
  padding: 1rem;
  color: black;
}

.card-desc {
  font-size: 16px;
  font-weight: 700;
  color: gray;
  padding: 0 1rem;
  line-height: 20px;
}

.card-link {
  text-decoration: none;
  color: #ffffff;
}

.card-link:hover {
  text-decoration: underline;
  color: #ffffff;
}

.move-up {
  margin-top: -20rem !important;
}

@media only screen and (max-width: 1200px) {
  .parent-title {
    position: absolute;
    z-index: 3;
    top: 30%;
    left: 50%;
    width: 300px;
    height: 200px;
    transform: translateX(-150px);
    color: white;
    mix-blend-mode: hard-light;
  }
}

@media only screen and (max-width: 1000px) {
  .head-container {
    width: 100vw;
  }
  .the-foamviz-project {
    font-size: 1.5rem !important;
  }
  .main-title-container {
    position: absolute;
    width: 22rem;
    left: calc(50% - 11rem);
    top: 8%;
    text-align: center;
  }
  .parent-title {
    position: absolute;
    z-index: 3;
    top: 25%;
    left: 50%;
    width: 150px;
    height: 100px;
    transform: translateX(-75px);
    color: white;
    mix-blend-mode: hard-light;
  }
  .child-the {
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 300;
    font-size: 20px;
    line-height: 36px;
  }
  .child-foamviz {
    position: absolute;
    top: 20px;
    left: 0;
    font-weight: 900;
    font-size: 36px;
    line-height: 52px;
  }
  .child-project {
    position: absolute;
    left: 50%;
    transform: translateX(-50px);
    top: calc(36px + 20px);
    font-weight: 300;
    font-size: 24px;
    line-height: 42px;
  }
  .make-it-center {
    width: 100%;
  }
  .move-up {
    margin-top: 0 !important;
    padding-bottom: 8rem;
  }
  .viz-title {
    font-size: 1.5rem;
    color: #ffffff;
  }
  .viz-move {
    font-size: 0.75rem;
    color: #ffffff;
  }
  .subinfo {
    font-size: 1rem !important;
  }
  .video-container {
    position: absolute;
    right: 0;
    z-index: 5;
    /* width: 50%; */
  }
}

.hero-body {
  padding: 1.5rem !important;
}

@media only screen and (max-width: 700px) {
  .head-container {
    width: 100vw;
  }
  .the-foamviz-project {
    font-size: 1rem !important;
  }
  .parent-title {
    position: absolute;
    z-index: 3;
    top: 10%;
    left: 50%;
    width: 150px;
    height: 100px;
    transform: translateX(-75px);
    color: white;
    mix-blend-mode: hard-light;
  }
  .child-the {
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 300;
    font-size: 18px;
    line-height: 36px;
  }
  .child-foamviz {
    position: absolute;
    top: 20px;
    left: 0;
    font-weight: 900;
    font-size: 28px;
    line-height: 42px;
  }
  .child-project {
    position: absolute;
    left: 50%;
    transform: translateX(-50px);
    top: calc(36px + 20px);
    font-weight: 300;
    font-size: 18px;
    line-height: 18px;
  }
  .make-it-center {
    width: 100%;
  }
  .move-up {
    margin-top: 0 !important;
    padding-bottom: 8rem;
  }
  .main-title-container {
    position: absolute;
    width: 14rem;
    left: calc(50% - 7rem);
    top: 2.5%;
    text-align: center;
  }
  .subinfo {
    width: 80vw;
    font-size: 1rem !important;
  }
  .video-container {
    position: absolute;
    right: 0;
    z-index: 5;
  }
  .viz-title {
    font-size: 1.5rem;
    color: #ffffff;
  }
  .viz-move {
    font-size: 0.75rem;
    color: #ffffff;
  }
}