.control-panel {
  margin: 12px;
  padding: 20px;
  font-size: 14px;
  line-height: 1.5;
  z-index: 10000;
  background-color: #fff;
  font-family: 'Roboto Mono', cursive;
}

label {
  display: inline-block;
  width: 140px;
  color: #fff;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 2px;
  border-radius: 5px;
  background: #fff;
  outline: transparent;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  outline: transparent;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  outline: transparent;
}

.control-panel-divider {
  margin: 20px 0 20px 0;
}

.layout {
  display: flex;
  margin: 30px 0 0 0;
  width: 100%;
}

.legend-text {
  display: flex;
  margin: 10px 0 0 0;
  justify-content: space-between;
}

.legend {
  height: 12px;
}

.look-like-link {
  background: none !important;
  border: none;
  padding: 0 !important;
  color: #ffffff;
  outline: transparent;
  cursor: pointer;
}

.tooltipStyle {
  position: absolute;
  padding: 14px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  max-width: 300px;
  font-size: 12px;
  z-index: 9;
  pointer-events: none;
}

.layercontrol {
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  font-size: 12px;
  line-height: 1.833;
  width: 250px;
  position: absolute;
  top: 5vh;
  left: 20px;
  z-index: 100;
  background: black;
  color: white;
}

.searchBoxControl {
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  font-size: 12px;
  line-height: 1.833;
  width: 300px;
  position: absolute;
  top: 5vh;
  left: calc(100vw - 22rem);
  z-index: 100;
  background: black;
  color: white;
}

.cursor-pointer {
  cursor: pointer;
}

.dflex-sbtw {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.m-2 {
  margin: 2px;
}

.m-0 {
  margin: 0;
}

.m-top-10 {
  margin-top: -10px;
}

.control-panel-top {
  margin: 20px 20px 0 20px;
}

.control-panel-bottom {
  margin: 0 20px 20px 20px;
}

.location-input-box::placeholder {
  color: #cccaca;
  font-size: 0.8rem;
  font-weight: 500;
}

.location-input-box:-internal-autofill-selected {
    background: black !important;
}

.box-container {
  background: black;
  border: none;
  border-radius: 0.2rem;
  outline: transparent;
  color: #ffffff;
  width: 100%;
}

.searchResults {
  background: black;
  border: none;
  border-radius: 0.2rem;
  outline: transparent;
  color: #ffffff;
  width: 100%;
}

.searchResults:hover {
  background: rgb(51, 51, 51);
  cursor: pointer;
}

.search-navigate {
  background: rgb(51, 51, 51);
}

.container {
  padding: 12px;
}

.search-result-box {
  padding-left: 10px;
}

