/* styles used by timeseries */

.abs-container-bottom {
  z-index: 7;
  position: absolute;
  top: calc(5vh + 100vh - 9rem - 2.8rem);
  right: 2vw;
}

.main-container-bottom {
  background: black;
  border: none;
  padding: 1.5rem;
  width: calc(100vw - 32rem);
  border-radius: 0.2rem;
  outline: transparent;
  color: #ffffff;
}

.date-row {
  margin-top: 0px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  color: #7D7D7D;
  font-size: 14px;
}

.play {
  display: flex;
}

.play-pause-btn {
  height: 1rem;
  margin-left: -10px;
  color: white;
  margin-right: 0.5rem;
  cursor: pointer;
}

.button-img-container {
  background: transparent;
  border: none;
  outline: none;
}

.rc-slider-rail {
  background-color: grey !important;
}

/* css for analytics panel */

.abs-container-top {
  z-index: 7;
  position: absolute;
  top: 2.5vh;
  left: 2vw;
  background: black !important;
}

.main-container-top {
  background: transparent;
  border: none;
  padding: 1.5rem;
  width: 16rem;
  border-radius: 0.2rem;
  outline: transparent;
  color: #ffffff;
}

h1 {
  margin-bottom: 0.5rem
}

h2 {
  margin-top: 0;
}

.viz-description {
  font-weight: 600;
  color: #808080;
  line-height: 1.25;
}

.text-white {
  color: white;
}

/* styles used by timeseries */

.abs-container-bottom-viz3 {
  z-index: 7;
  position: absolute;
  top: calc(5vh + 100vh - 9rem - 2.8rem);
  left: 50%;
  transform: translate(-50%, -10%);
}

.main-container-bottom-viz3 {
  background: black;
  border: none;
  padding: 1.5rem;
  height: 98px;
  width: calc(100vw - 5rem);
  border-radius: 0.2rem;
  outline: transparent;
  color: #ffffff;
}

.switch {
  position: relative;
  display: inline-block;
  width: 39px;
  height: 19px;
  /* margin-right: 40px; */
  margin-top: 0px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.rotation-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  height: 19px;
}

.rotation-slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.rotation-slider {
  background-color: #2196F3;
}

input:focus+.rotation-slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.rotation-slider:before {
  transform: translateX(17px);
}

/* Rounded rotation-sliders */

.rotation-slider.round {
  border-radius: 34px;
}

.rotation-slider.round:before {
  border-radius: 50%;
}

.rotation-container {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.rotation {
  font-weight: 600;
  color: #adadad;
  line-height: 1.25;
  margin-bottom: 1rem;
}

.tooltipStyle {
  position: absolute;
  min-width: 190px;
  padding: 14px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-size: 12px;
  z-index: 7;
  pointer-events: none;
}

.tooltip-key {
  color: grey;
  font-size: 14px;
  font-weight: 500;
}

.tooltip-value {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}

.rc-slider-dot {
  border: none !important;
  width: 3px;
  margin-left: -2px;
  border-radius: 0;
}

.mt-0 {
  margin-top: 0;
}

.mt-2 {
  margin-top: 2rem;
}

.count-bottom-num {
  margin-bottom: 0;
}
.count-bottom {
  margin-top: 0.5rem;
}

@media screen and (max-width: 700px) {
  .m-abs-container-top {
    z-index: 7 !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    background: black !important;
    width: 100% !important;
  }
  .m-abs-container-bottom-viz3 {
    z-index: 7 !important;
    position: absolute !important;
    top: 13vh !important;
    left: 0 !important;
    transform: none !important;
    width: 100% !important;
  }
  .mob-mtop5 {
    margin-top: 7rem;
  }
  .m-mtop2 {
    margin-top: 2rem;
  }
  .m-main-container-top {
    width: 100% !important;
  }
  .m-dflex {
    display: flex;
  }
  .rotation {
    font-weight: 600;
    color: #adadad;
    line-height: 1.25;
    margin-bottom: 1rem;
    margin-right: 2rem;
    margin-top: -5px;
  }
  .rc-slider-mark .rc-slider-mark-text:not(:first-child):not(:last-child) {
    display: none;
  }
  /* .rc-slider-mark-text-active {
    display: inline !important;
  } */
  .m-top-info {
    position: absolute;
    top: 2%;
    left: 25%;
    z-index: 9;
    width: 50%;
    text-align: center;
  }
  .m-num-title {
    font-size: 1.5rem;
    color: #fff;
    font-weight: 900;
  }
  .m-num-sub {
    font-size: 0.7rem;
    margin-top: -10px;
    color: grey;
    font-weight: 700;
  }
  .m-foam-token {
    text-align: center;
  }
  .m-foam-value {
    text-align: center;
  }
  .m-button {
    z-index: 9;
    color: #fff;
    background: #0D3549;
    border: none;
    border-radius: 25px;
    outline: none;
    text-align: center;
  }
  .rotation-container {
    margin-top: 8rem;
    display: flex;
    justify-content: space-between;
  }
  .m-tooltip-globe {
    position: absolute;
    top: 50px !important;
    left: calc(50% - 90px) !important;
    transform: none !important;
    z-index: 3;
  }
  .scene-tooltip {
    position: absolute;
    top: 50px !important;
    left: 50% !important;
    transform: none !important;
    z-index: 3;
  }
  .dollar {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 24px;
    font-weight: 900;
    color: #fff;
  }
}