@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

body {
  font-family: 'Roboto Mono', cursive;
  margin: 0;
  overflow-y: scroll;
  scroll-behavior: smooth;
  background: #191a1a !important;
}

code {
  font-family: 'Roboto Mono', cursive;
}

.nav-container {
  background: #282828;
  padding: 25px 15px;
}

.nav-heading {
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: white
}

.nav-subheading {
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
  padding-top: 6px;
}

.dn {
  display: none;
}

@media screen and (max-width: 700px) {
  .dm-none {
    display: none !important;
  }

  .m-show {
    display: block !important;
  }

  .m-pb-3 {
    padding-bottom: 3rem;
  }

  .m-nav {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }

  .w-80 {
    width: 80%;
  }

  .ReactSwipeableBottomSheet--open {
    border-top-right-radius: 10px !important;
    border-top-left-radius: 10px !important;
  }
  .ReactSwipeableBottomSheet--closed {
    border-top-right-radius: 10px !important;
    border-top-left-radius: 10px !important;
  }

  .m-text-center {
    text-align: center;
  }

  .pull-out {
    height: 4px;
    width: 6%;
    margin-left: 47%;
    margin-top: -15px;
    margin-bottom: 15px;
    border-radius: 10px;
    background: #4a4a4a;
  }
}
