@import url('https://fonts.googleapis.com/css?family=Roboto+Mono'); 

/* @font-face {
  font-family: 'Roboto Mono';
  src: url('https://fonts.googleapis.com/css?family=Roboto+Mono')
} */

body {
  font-family: 'Roboto Mono', cursive;
  width: 100vw;
  height: 100vh;
  margin: 0;
}


code {
  font-family: 'Roboto Mono', cursive;
}
